@import url(menu_lateral.css);
@import url(form.css);
@import url(table.css);
@import url(calculadora.css);
@import url(botoes.css);

:root {
    --primary-color: #0088ff;
    --secundary-color: #005876;
    --terciary-color: #00384b;
    --white-color: #f1f1f1;
    --primary-shadow: 0 0 .5em #808080
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Playpen Sans', cursive;
    font-family: 'Ubuntu', sans-serif;
    background: var(--white-color);
}

.hidden {
    display: none;
}


/* SCROLLBAR */

*::-webkit-scrollbar {
    background: transparent;
    width: 7px;
    height: 100%;
}

*::-webkit-scrollbar-thumb {
    background: var(--secundary-color);
    border-radius: 60px;
}

*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner {
    background: transparent;
}

/*________________________________________________________________________________________*/

.corpo {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 0;
    position: absolute;
    display: flex;
}

.principal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho img {
    display: none;
}

.cabecalho div {
    text-align: left;
}

.cabecalho div {
    display: flex;
    gap: 10px;
    cursor: pointer;
}


.cabecalho div div {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    border-radius: 3px;
    color: #ffffff;
    font-size: 10px;
}

.cabecalho i {
    font-size: 25px;
}

#cabecalho-botao-verde {
    background: #00a000;
    transition: background .2s;
}

#cabecalho-botao-amarelo {
    background: #ffa500;
    transition: background .2s;
}

#cabecalho-botao-verde i {
    color: #008000;
    transition: .2s;
}

#cabecalho-botao-amarelo i {
    color: #c78100;
    transition: .2s;
}


#cabecalho-botao-verde:hover {
    background: #008000;
    transition: background .2s;
}

#cabecalho-botao-amarelo:hover {
    background: #c78100;
    transition: background .2s;
}

#cabecalho-botao-verde:hover i {
    color: #005300;
    transition: .2s;
}

#cabecalho-botao-amarelo:hover i {
    color: #976200;
    transition: .2s;
}

.conteudo {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: #ffffff;
    border-radius: 3px;
}

.conteudo-cabecalho {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, var(--secundary-color), var(--terciary-color));
    color: var(--white-color);
}

.conteudo-cabecalho h3 {
    font-size: 13px;
    font-weight: bold;

}

.conteudo-center {
    width: 100%;
    height: 100%;
    padding: 10px 20px 20px 20px;
    display: flex;
    align-content: baseline;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}
.conteudo-center[name='altera_senha'] {
    align-content: center;
    justify-content: center;
}

.conteudo-center h1 {
    width: 100%;
    font-size: 16px;
    font-weight: 100;
}

.conteudo-center-boxs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.conteudo-center-box-01,
.conteudo-center-box-02 {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.conteudo-center-box-01 {
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.conteudo-center-box-02 {
    height: 100%;
}

.conteudo-center-box-01 div {
    margin: 5px 5px 5px 0;
}

.conteudo-center-box-01 div div {
    width: 180px;
    height: 90px !important;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

.conteudo-center-box-01 div div span {
    width: 100%;
    padding: 7px;
    text-align: center;
    font-size: 10px;
    background: #0000004d;
}

.conteudo-center-box-01 div div h3 {
    width: 100%;
    margin-top: 10px;
    padding: 0 10px;
    font-size: 13px;
    text-align: center;
}

.conteudo-center-box-01 div div i {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
}

.texto-filtro {
    width: fit-content !important;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    filter: opacity(50%);
}

/* CAIXA ROXA */
#box-infos-roxa {
    background: #a255a2;
    transition: .2s background;
}

#box-infos-roxa:hover {
    background: #842584;
    transition: .2s background;
}

#box-infos-roxa i {
    color: #842584;
    transition: .2s;
}

#box-infos-roxa:hover i {
    color: #2f002f;
    transform: scale(1.1);
    transition: .2s;
}

/* CAIXA VERDE */
#box-infos-verde {
    background: #00a000;
    transition: .2s background;
}

#box-infos-verde:hover {
    background: #008000;
    transition: .2s background;
}

#box-infos-verde i {
    color: #008000;
    transition: .2s;
}

#box-infos-verde:hover i {
    color: #004200;
    transform: scale(1.1);
    transition: .2s;
}

/* CAIXA AZUL */
#box-infos-azul {
    background: #0088ff;
    transition: background .2s;
}

#box-infos-azul:hover {
    background: #00698d;
    transition: background .2s;
}

#box-infos-azul #notificacao {
    width: 20px;
    max-height: 20px;
    position: absolute;
    right: 4px;
    bottom: 4px;
}

#box-infos-azul .fa-angle-right {
    display: none;
}

#box-infos-azul i {
    color: #007197;
    transition: .2s;
}

#box-infos-azul:hover i {
    color: #00384b;
    transform: scale(1.1);
    transition: .2s;
}

/* CAIXA AMARELA */
#box-infos-amarela {
    background: #ffa500;
    transition: background .2s;
}

#box-infos-amarela:hover {
    background: #c68100;
    transition: background .2s;
}

#box-infos-amarela i {
    color: #ae7100;
    transition: .2s;
}

#box-infos-amarela:hover i {
    color: #603e00;
    transform: scale(1.1);
    transition: .2s;
}

/* CAIXA CINZA */
#box-infos-cinza {
    background: #a9a9a9;
    transition: background .2s;
}

#box-infos-cinza:hover {
    background: #707070;
    transition: background .2s;
}

#box-infos-cinza i {
    color: #707070;
    transition: .2s;
}

#box-infos-cinza:hover i {
    color: #505050;
    transform: scale(1.1);
    transition: .2s;
}


/* CAIXA VERMELHA */
#box-infos-vermelha {
    background: #cc2626;
    transition: background .2s;
}

#box-infos-vermelha:hover {
    background: #9b0000;
    transition: background .2s;
}

#box-infos-vermelha i {
    color: #9b0000;
    transition: .2s;
}

#box-infos-vermelha:hover i {
    color: #440000;
    transform: scale(1.1);
    transition: .2s;
}
.conteudo-center p {
    width: 100%;
    font-size: 10px;
    text-align: center;
}

#box-ajuda,
#box-confirmacao {
    width: 280px;
    padding: 60px 25px 25px 25px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .0 .5em #cdcdcd;
    background: #fff;
    border-radius: 3px;
    font-size: 18px;
    overflow: hidden;
    display: none;
    z-index: 6
}

.box-ajuda-cabecalho {
    width: 100%;
    height: fit-content;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 .3em #cdcdcd;
    background: linear-gradient(to right, var(--secundary-color), var(--terciary-color));
    text-align: left;
}

.box-ajuda-cabecalho h1 {
    font-size: 15px !important;
    color: var(--white-color);
    font-weight: 100;
}

.box-ajuda-cabecalho i {
    color: var(--white-color);
    font-size: 19px;
}

#box-ajuda p {
    font-size: 13px;
    text-align: left;
}

#box-ajuda a {
    color: #005876;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

#box-confirmacao {
    width: 100%;
    max-width: 340px;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    font-size: 12px;
}

#box-confirmacao p {
    text-align: left;
}

#box-confirmacao h1 {
    margin: 0;
}

#box-confirmacao[title='Finalizar inventário'] {
    display: none;
}

#box-confirmacao h2 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 100;
    text-align: center;
}
#box-confirmacao form {
    padding: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
}
#box-confirmacao form label {
    width: 100%;
}

.conteudo-rodape {
    width: 100%;
    padding: 5px;
    margin-top: auto;
    color: #808080;
    text-align: center;
    font-size: 12px;
}

#botao-verde-box {
    width: 100%;
    height: 100%;
    padding: 30px 0;
    position: fixed;
    display: flex;
    justify-content: center;
    background: #303030cc;
    display: none;
    overflow: scroll;
    z-index: 9;
}

.box-table-botao-verde {
    width: 98%;
    height: fit-content;
    margin: 0 auto;
    padding: 10px 30px;
    background: #ffffff;
    border-radius: 3px;
    position: relative;
    font-size: 10px;
    overflow: scroll;
}

.box-table-botao-verde table p {
    width: 70px;
}
.box-table-botao-verde p {
    text-align: center;
}

.box-table-botao-verde h3 {
    margin: 10px;
    font-size: 15px;
    font-weight: 100;
}

.fa-rectangle-xmark {
    font-size: 25px;
    color: #9b0000;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: .1s color
}

.fa-rectangle-xmark:hover {
    color: #720000;
    transition: .1s color;
}



/* RESPONSIVO */

@media screen and (max-width: 1020px) {

    *::-webkit-scrollbar {
        display: none;
    }

    .corpo {
        padding: 10px;
    }

    .cabecalho,
    .conteudo {
        box-shadow: 0 0 .3em #cdcdcd;
    }

    .cabecalho {
        margin-bottom: 10px;
        padding: 20px 20px 20px 15px;
        background: #ffffff;
        border-radius: 3px;
        justify-content: space-between;
    }

    .cabecalho img {
        display: block;
        width: 80px;
    }

    .cabecalho div {
        position: fixed;
        z-index: 2;
    }

    #cabecalho-abrir-requisicao,
    #cabecalho-botao-verde {
        padding: 10px;
        position: fixed;
        right: -125px;
        bottom: 40px;
        z-index: 2;
    }

    #cabecalho-abrir-requisicao {
        right: -97px;
        bottom: 100px;
    }

    .conteudo {
        width: 100%;
        font-size: 8px;
    }


    .conteudo-cabecalho {
        padding: 15px;
        font-size: 15px;
    }

    .conteudo-center {
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }
    .conteudo-center h1 {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .conteudo-center-box-01 {
        width: 100%;
        display: block;
    }

    .conteudo-center-box-01 div {
        margin: 0;
    }

    .conteudo-center-box-01 div div {
        width: 100%;
        height: 90px !important;
        margin-bottom: 10px;
    }
    .conteudo-center-box-02 p {
        margin: 0 0 80px 0;
    }

    .fa-rectangle-xmark {
        right: auto;
        left: 5px;
    }

}