table {
    width: 100%;
    margin: 5px auto;
    font-size: 10px;
    background: #ffffff;
    box-shadow: 0 0 .3em #cdcdcd;
    border-radius: 3px;
    border-collapse: collapse;
    text-align: center;
    overflow: auto;
}

table tr td {
    padding: 15px;
}

table tr td p {
    width: fit-content!important;
    margin: 0 auto !important;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 8px;
    font-weight: bold;
    color: #fff;
}

table thead {
    position: sticky;
    top: -10px;
    color: var(--white-color);
    font-weight: bold;
    background: linear-gradient(to right, var(--primary-color), var(--secundary-color));
    z-index: 1;
}
table thead td:first-child {
    border-radius: 3px 0 0 0;
}
table thead td:last-child {
    border-radius: 0 3px 0 0;
}
table thead td {
    font-size: 11px;
}

tbody tr:nth-child(even) {
    background: #f4f4f4;
}

table form {
    width: fit-content;
    padding: 0;
    margin: 0 10px;
    border: 0;
    box-shadow: none;
    background: transparent;
}

table tr #acoes  {
    display: flex;
    align-items: center;
    justify-content: center;
}

table tr #btn-excluir {
    background: #ffa4a4;
    color: #6c0000;
    transition: .1s background;
}

table tr #btn-senha {
    background: #ffdcb1;
    color: #9b5500;
}
table form button {
    width: fit-content;
    margin: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}
table form button:hover {
    background: none;
    transition: none;
}
table input {   
    padding: 5px;
    font-size: 12px;
    border: none;
    box-shadow: 0 0 .3em #cdcdcd;
    border-radius: 3px;
    text-align: center;
}
table button {
    width: 70px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background: var(--secundary-color);
    color: #fff;
    font-size: 10px;
    transition: background .1s;
    cursor: pointer;
}
table button:hover {
    background: var(--terciary-color);
    transition: background .1s;
}
table form button i {
    width: 35px;
    padding: 3px;
    margin: 0;
    color: #008000;
    font-size: 25px;
    transition: .2s;
}
table form button i:hover, #btn-inventariar:hover {
    filter: brightness(60%);
    transition: .1s;
}
table .fa-eye {
    color: var(--primary-color);
    font-size: 20px;
}
#table-form-btn-excluir i {
    color: #ff3737;
}
#table-form-btn-editar i {
    color: var(--primary-color);
}
#table-form-btn-senha i {
    color: #daa520;
    font-size: 17px;
}

#bottom-table {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
table #total-botao-verde {
    width: fit-content;
    font-size: 10px;
}

#table-foto-perfil {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
}

table .fa-circle-user {
    font-size: 30px;
    color: var(--terciary-color);
}
table .fa-circle {
    color: #008000;
}

#table-cria-inv {
    width: fit-content;
}
#table-cria-inv tr td form {
    margin: 100px;
}
#btn-inventariar {
    padding: 0;
    background: transparent;
    box-shadow: none;
    color: var(--primary-color);
    font-size: 25px;
    color: #008000;
}
#form-hidden-input {
    box-shadow: none;
    background: transparent;
}
#form-hidden-input:focus {
    outline: none;
}

.conteudo-center-tables table thead {
    background: var(--secundary-color);
}

@media (width <= 1020px) and (orientation: landscape) {
    thead {
        top: -30px !important;
    }
    table tr td {
        font-size: 7px;
    }
    table input {
        font-size: 7px;
    }
    table tr td p {
        font-size: 7px !important;
    }
}