table {
    width: 100%;
    margin: 5px auto;
    font-size: 10px;
    background: #ffffff;
    box-shadow: 0 0 .3em #cdcdcd;
    border-radius: 3px;
    border-collapse: collapse;
    text-align: center;
    overflow: auto;
}

table tr td {
    padding: 15px;
}

table tr td p {
    width: 80px !important;
    margin: 0 auto !important;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 8px;
    font-weight: bold;
    color: #fff;
    text-align: center !important;
}

table thead {
    position: sticky;
    top: -10px;
    color: var(--white-color);
    font-weight: bold;
    background: linear-gradient(to right, var(--secundary-color), var(--terciary-color));
    z-index: 1;
}
table thead td:first-child {
    border-radius: 3px 0 0 0;
}
table thead td:last-child {
    border-radius: 0 3px 0 0;
}
table thead td {
    font-size: 11px;
}

tbody tr:nth-child(even) {
    background: #f4f4f4;
}

table form {
    width: fit-content;
    padding: 0;
    margin: 0 10px;
    border: 0;
    box-shadow: none;
    background: transparent;
}

table tr #acoes  {
    display: flex;
    align-items: center;
    justify-content: center;
}

table tr #table-textarea
{
    text-align: left;
}

table tr #table-textarea textarea {
    width: 100% !important;
    height: 150px;
    padding: 10px;
    resize: none;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Ubuntu', sans-serif;
}
table tr textarea:focus {
    outline: none;
}

table a {
    color: #000;
}

table input {   
    padding: 5px;
    font-size: 12px;
    border: none;
    box-shadow: 0 0 .3em #cdcdcd;
    border-radius: 3px;
    text-align: center;
}
table i {
    color: var(--primary-color);
    font-size: 25px;
}
table i:hover {
    filter: brightness(60%);
}

#bottom-table {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
table #total-botao-verde {
    width: fit-content;
    font-size: 10px;
}

#table-foto-perfil {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
}

table .fa-circle-user {
    font-size: 30px;
    color: var(--terciary-color);
}
table .fa-circle {
    color: #008000;
}

#table-cria-inv {
    width: fit-content;
}
#table-cria-inv tr td form {
    margin: 100px;
}
#form-hidden-input {
    box-shadow: none;
    background: transparent;
}
#form-hidden-input:focus {
    outline: none;
}

.conteudo-center-tables table thead {
    background: var(--secundary-color);
}
#table-respostas thead tr td i {
    margin: 0 0 0 10px  ;
    color: #fff;
    font-size: 18px;
}
#table-respostas tbody tr td {
    padding: 10px;
    text-align: left;
}
#table-respostas tbody tr td i {
    font-size: 17px;
}
#table-respostas tbody tr td div {
    display: flex;
}
#table-respostas form {
    margin: 0px;
}
#table-respostas-text-center tr td {
    text-align: center !important;
}

@media (width <= 1020px) and (orientation: landscape) {
    thead {
        top: -30px !important;
    }
    table tr td {
        font-size: 7px;
    }
    table input {
        font-size: 7px;
    }
    table tr td p {
        font-size: 7px !important;
    }
}